<%- include('parts/html-head') %>
<%- include('parts/nav-bar') %>
<%- include('parts/aside') %>

            <div class='col-md-9'>
                <div class='row'>
                    <div class='col-md-6'>
                        <article class='card mb-4'>
                            <a href=""><img class='card-img' src='/img/mirae.jpg'></a>
                            <div class='card-body'>
                                <span class="badge badge-secondary text-white mb-2">Beauty</span>
                                <h5 class="card-title"><a href="javascript:;" class="text-primary">未來美 面膜 5s</a></h5>
                                <p class='card-text'></p>
                                <footer class="d-flex justify-content-center mt-2">
                                    <div class="price-box d-flex  flex-column"><del class="orginPrice">RM 49.90</del>
                                        <div class="h5 text-success">RM 30</div>
                                    </div>
                                    <button type="button" id="-M3OmqbK04LKV28dkNB_" data-toggle="tooltip" data-placement="top"
                                        title=""
                                        class="align-self-top btn ml-auto btn-outline-info justify-content-center btn-sm btn-cart"
                                        data-original-title="已入購物車">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                </footer>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

  




<%- include('parts/script') %>
<%- include('parts/html-foot') %>