<%- include('parts/html-head') %>
<%- include('parts/nav-bar') %>
<%- include('parts/aside') %>

<div class='col-md-9'>
    <div class='row'>
        <div class='col-md-6'>
            <article class='card mb-4'>
                <a href="/natureFinal.html"><img class='card-img' src='img/marathonshoes.jpg'></a>
                <div class='card-body'>
                    <span class="badge badge-secondary text-white mb-2">Sports</span>
                    <h5 class="card-title"><a href="javascript:;" class="text-primary">母子鱷魚 慢跑拖</a></h5>
                    <p class='card-text'></p>
                    <footer class="d-flex justify-content-center mt-2">
                        <div class="price-box d-flex  flex-column"><del class="orginPrice">RM 90</del>
                            <div class="h5 text-success">RM 80</div>
                        </div>
                        <button type="button" id="-M3OmqbK04LKV28dkNB_" data-toggle="tooltip" data-placement="top"
                            title=""
                            class="align-self-top btn ml-auto btn-outline-info justify-content-center btn-sm btn-cart"
                            data-original-title="已入購物車">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </footer>
                </div>
            </article>
            <article class='card mb-4'>
                <a href=""><img class='card-img' src='img/persevationbag.jpg'></a>
                <div class='card-body'>
                    <span class="badge badge-secondary text-white mb-2">Kitchen</span>
                    <h5 class="card-title"><a href="javascript:;" class="text-primary">矽膠保鮮袋</a></h5>
                    <p class='card-text'></p>
                    <footer class="d-flex justify-content-center mt-2">
                        <div class="price-box d-flex  flex-column"><del class="orginPrice">RM 30</del>
                            <div class="h5 text-success">RM 25</div>
                        </div>
                        <button type="button" id="-M3OmqbK04LKV28dkNB_" data-toggle="tooltip" data-placement="top"
                            title=""
                            class="align-self-top btn ml-auto btn-outline-info justify-content-center btn-sm btn-cart"
                            data-original-title="已入購物車">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </footer>
            </article>
            <article class='card mb-4'>
                <a href=""><img class='card-img' src='img/mirae.jpg'></a>
                <div class='card-body'>
                    <span class="badge badge-secondary text-white mb-2">Beauty</span>
                    <h5 class="card-title"><a href="javascript:;" class="text-primary">未來美 面膜 5s</a></h5>
                    <p class='card-text'></p>
                    <footer class="d-flex justify-content-center mt-2">
                        <div class="price-box d-flex  flex-column"><del class="orginPrice">RM 49.90</del>
                            <div class="h5 text-success">RM 30</div>
                        </div>
                        <button type="button" id="-M3OmqbK04LKV28dkNB_" data-toggle="tooltip" data-placement="top"
                            title=""
                            class="align-self-top btn ml-auto btn-outline-info justify-content-center btn-sm btn-cart"
                            data-original-title="已入購物車">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </footer>
                </div>
            </article>
        </div>
        <div class='col-md-6'>
            <article class='card mb-4'>
                <a href=""><img class='card-img' src='img/warmcover.jpg'></a>
                <div class='card-body'>
                    <span class="badge badge-secondary text-white mb-2">Kitchen</span>
                    <h5 class="card-title"><a href="javascript:;" class="text-primary">保溫菜罩</a></h5>
                    <p class='card-text'></p>
                    <footer class="d-flex justify-content-center mt-2">
                        <div class="price-box d-flex  flex-column"><del class="orginPrice">From RM15 </del>
                            <div class="h5 text-success">FROM RM 9.90</div>
                        </div>
                        <button type="button" id="-M3OmqbK04LKV28dkNB_" data-toggle="tooltip" data-placement="top"
                            title=""
                            class="align-self-top btn ml-auto btn-outline-info justify-content-center btn-sm btn-cart"
                            data-original-title="已入購物車">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </footer>
                    </p>
                </div>
            </article>
            <article class='card mb-4'>
                <a href=""><img class='card-img' src='img/spoonfork.jpg'></a>
                <div class='card-body'>
                    <span class="badge badge-secondary text-white mb-2">Kitchen</span>
                    <h5 class="card-title"><a href="javascript:;" class="text-primary">不鏽鋼 折疊 湯匙</a></h5>
                    <p class='card-text'></p>
                    <footer class="d-flex justify-content-center mt-2">
                        <div class="price-box d-flex  flex-column"><del class="orginPrice">RM12</del>
                            <div class="h5 text-success">RM 9.90</div>
                        </div>
                        <button type="button" id="-M3OmqbK04LKV28dkNB_" data-toggle="tooltip" data-placement="top"
                            title=""
                            class="align-self-top btn ml-auto btn-outline-info justify-content-center btn-sm btn-cart"
                            data-original-title="已入購物車">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </footer>
                    </p>
                </div>
            </article>
            <article class='card mb-4'>
                <a href=""><img class='card-img' src='img/papersoap.jpeg'></a>
                <div class='card-body'>
                    <span class="badge badge-secondary text-white mb-2">Sanitation</span>
                    <h5 class="card-title"><a href="javascript:;" class="text-primary">肥皂紙</a></h5>
                    <p class='card-text'></p>
                    <footer class="d-flex justify-content-center mt-2">
                        <div class="price-box d-flex  flex-column"><del class="orginPrice">From RM6</del>
                            <div class="h5 text-success">RM4</div>
                        </div>
                        <button type="button" id="-M3OmqbK04LKV28dkNB_" data-toggle="tooltip" data-placement="top"
                            title=""
                            class="align-self-top btn ml-auto btn-outline-info justify-content-center btn-sm btn-cart"
                            data-original-title="已入購物車">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </footer>
                </div>
            </article>
        </div>
    </div>
</div>




<%- include('parts/script') %>
<%- include('parts/html-foot') %>